*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
}

h1,
h2 {
  margin-top: 0;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-container {
  padding: 20px;
  text-align: center;
}

.title {
  font-family: Roboto, sans-serif;
}
