*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
}

h1,
h2 {
  margin-top: 0;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-container {
  padding: 20px;
  text-align: center;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 38px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  min-width: 320px;
  border: 2px solid #50c905;
  margin-bottom: 30px;
  border-radius: 50px;
}

.card__year {
  padding-bottom: 15px;
}

.card__label {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  font-weight: bold;
  align-items: center;
}

.card__checkbox {
  margin: 0;
  font: inherit;
  width: 18px;
  height: 18px;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
}

.card__watchedMessage {
  padding-top: 5px;
  color: #50c905;
}

.card__picture {
  padding-bottom: 25px;
}
